<footer>
  <p>&copy; 2023 Your Website Name</p>

  <div class="social-icons">
    <a href="#" target="_blank">Facebook</a>
    <a href="#" target="_blank">Twitter</a>
    <a href="#" target="_blank">Instagram</a>
  </div>
</footer>
