<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/articleForm.css" />
    <title>Create Article</title>
  </head>
  <body>
    <%- include("partials/header")-%>
    <div class="container">
      <form id="articleForm" action="/articles/create" method="POST">
        <input
          type="text"
          id="title"
          name="title"
          placeholder="Title"
          required
        />
        <textarea
          id="description"
          name="description"
          placeholder="Description"
          required
        ></textarea>

        <input
          type="text"
          id="author"
          name="author"
          placeholder="Author"
          required
        />
        <!-- <input type="text" id="slug" name="slug" placeholder="Slug" required /> -->

        <button type="submit">Create Article</button>
      </form>
    </div>
    <%- include("partials/footer")-%>
  </body>
</html>
