<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/header') -%>
    <div class="index">
      <h1>Namste Vlogs</h1>
      <p>Welcome to Namste Vlogs</p>
    </div>
    <% if (msg) { %>
    <div class="success">
      <p><%= msg %></p>
    </div>
    <% } %>

    <div class="go-to-articles">
      <a href="/articles">Go to Articles</a>
    </div>

    <%- include("partials/footer")-%>
  </body>
</html>
